JWT_SECRET= your secrete
MONGODB_URI=mongodb://localhost/test

#Paypal client_ID
PAYPAL_CLIENT_ID=

#Mpesa callback URL
MPESA_CALLBACK_URL =

#Cloudinary access Configuration
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_URL = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

#Google map api key
GOOGLE_API_KEY=

#Mailtrap authentication parameters
AUTH_EMAIL =
AUTH_PASSWORD = 